//fonts
// 'futura-pt'
// 'raleway'

$appFamily: 'futura-pt'

//colors
$searchBar: rgb(0, 0, 0)
$searchBarActive: rgb(194, 194, 194)

$inputText: rgb(154, 154, 154)
$inputBackground: rgb(224, 224, 224)

$button: rgb(0, 0, 0)
$buttonActive: rgb(56, 56, 56)
$buttonText: rgb(255, 255, 255)

$linkText: rgb(171, 171, 171)

//mixins

//styles/////////////////
body
  margin: 0
//search bar
.searchBar
  position: fixed
  top: 0
  width: 100%
  height: 10vh
  background-color: $searchBar
  display: flex
  justify-content: center
  align-items: center

  .searchInput
    font:
      family: $appFamily
      size: 40pt
    padding-left: 5vw
    height: 100%
    width: 100%
    border: 0
    background-color: rgba(0, 0, 0, 0)
    text-align: center
    &:focus
      background-color: $searchBarActive
      outline: none
    transition-duration: 200ms
    text-align: left



.offsetSearchBar
  width: 100%
  height: 10vh

.container
  margin: auto
  text-align: center
  

.login
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  .loginInput
    width: 100%
    background-color: $inputBackground
    font:
      family: $appFamily
      size: 60pt
    text-align: center
    border: 0
    margin: 0
    &:focus
      outline: none

  .usernameLogin
    margin-top: 50vw
    margin-bottom: 2vw

  .loginButton
    font:
      famiy: $appFamily
      size: 40pt
    color: $buttonText
    background-color: $button
    margin: auto
    margin-top: 2vw
    margin-bottom: 65vw
    border: 0
    padding: 2vw 4vw
    &:focus
      outline: none
    &:active
      background-color: $buttonActive

  .registerLink
    font:
      family: $appFamily
      size: 40pt
    color: $linkText
