<div class="register" ng-controller="AuthController as ac">
  <div class="container">
    <input type="text" class="usernameLogin loginInput" placeholder="Username" ng-model="ac.username"><br>
    <input type="password" class="passwordLogin loginInput" placeholder="Password" ng-model="ac.password"><br>
    <input type="password" class="passwordLogin loginInput" placeholder="Confirm Password" ng-model="ac.passwordConfirm"><br>
    <input type="email" class="loginInput" placeholder="Email Address" ng-model="ac.email">
    <button type="button" class="loginButton" ng-click="ac.registerUser()">REGISTER</button><br>
  </div>
</div>
